DOMAIN=localhost
NEXT_PUBLIC_CHURCH_PHONE=010-5252-8580
NEXT_PUBLIC_CHURCH_EMAIL=hello@thedisciples.church
NEXT_PUBLIC_CHURCH_ADDRESS=경기도 수원시 팔달구 경수대로425 지하1층, The 제자교회
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/@%EB%8D%94%EC%A0%9C%EC%9E%90%EA%B5%90%ED%9A%8C
NEXT_PUBLIC_NAVER_MAP_URL=https://map.naver.com/p/search/%EB%82%98%EC%9D%B8%EC%95%84%ED%8A%B8%ED%99%80/place/1394960485?c=15.00,0,0,0,dh&placePath=/home?bk_query=%EB%82%98%EC%9D%B8%EC%95%84%ED%8A%B8%ED%99%80&entry=bmp&from=map&fromPanelNum=2&timestamp=202603021305&locale=ko&svcName=map_pcv5&searchText=%EB%82%98%EC%9D%B8%EC%95%84%ED%8A%B8%ED%99%80
NEXT_PUBLIC_GIVING_BANK=하나은행 181-04-01160-381 예금주:이진욱(The제자교회)
NEXT_PUBLIC_GIVING_OWNER=The 제자교회
